@font-face {
  font-family: "VeryVogueDisplay";
  src: url("/src/assets/fonts/very-vogue-display.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VeryVogueDisplay";
  src: url("/src/assets/fonts/very-vogue-display-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}  

@import "tailwindcss";

@theme{
  --font-veryvogue: VeryVogue, "display";
}